<nav class="navbar is-success">
    <div class="navbar-brand" id="brand">
      <a class="navbar-item" href="/admin">
        <p>
          <i class="fas fa-user"></i>
          Admin
        </p>
      </a>
      <span class="navbar-burger burger">
          <span></span>
          <span></span>
          <span></span>
        </span>
    </div>
    <div id="navbarMenu" class="navbar-menu">
      <div class="navbar-end">
        <span class="navbar-item">
            <a class="button is-white is-outlined" href="/" style="font-weight:bold">
              <span class="icon"><i class="fa fa-laptop"></i></span>
              <span>Work</span>
            </a>
          </span>
        <span class="navbar-item">
            <a class="button is-white is-outlined" href="/" style="font-weight:bold">
              <span class="icon"><i class="fa fa-history"></i></span>
              <span>History</span>
            </a>
          </span>
      </div>
    </div>
  </div>
</nav>
