html,body {
  margin: 0px;
  padding: 0px;
}

#brand a p {
  font-size:24px;
  font-weight:bold;
}


.portfolio-background {
  background: linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ), url('https://tosametal.net/static/img/tosametal.4461d79.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
